*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#app {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  overflow: {
    x: hidden;
    y: auto;
  }
}

ul,
li {
  list-style: none;
}

.animation-comment {
  position: absolute;
  left: 0;
  min-width: 100%;
  display: inline-block;
  animation: comment 15s linear;
  opacity: 0.7;
  -webkit-text-stroke: 0.02em #333;
  white-space: nowrap;
}
@keyframes comment {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animation-reaction {
  position: absolute;
  display: inline-block;
  animation: reaction 1s ease-out;
  transform-origin: bottom center;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  filter: drop-shadow(0px 0px 8px #666);
  img {
    height: 100%;
    width: 100%;
  }
}
@keyframes reaction {
  0% {
    transform: scale(0.5, 0);
    opacity: 1;
  }
  80% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.transition-move {
  transition: transform 0.2s ease-out;
}
